.main-container {
  padding: 0px 24px;
}

.row-group {
  display: flex;
  align-items: center;
}

.bg-primary {
  background-color: getColor('primary.base');
}

.bg-secondary {
  background-color: getColor('secondary.base');
  color: getColor('white.base');
}
